<div class="p-8 h-full">
  <div class="stats shadow-lg w-full h-48 rounded-3xl">
    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-8 h-8 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </div>
      <div class="stat-title">Faculties Present</div>
      <div class="stat-value">9</div>
      <div class="stat-desc">Jan 1st - Feb 1st</div>
    </div>
    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-8 h-8 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
          </path>
        </svg>
      </div>
      <div class="stat-title">Faculties Absent</div>
      <div class="stat-value">2</div>
      <div class="stat-desc">↗︎ 400 (22%)</div>
    </div>
    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-8 h-8 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path>
        </svg>
      </div>
      <div class="stat-title">Faculties not visited</div>
      <div class="stat-value">1</div>
      <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>
  </div>
  
  <div class="grid gap-8 grid-cols-2 h-fit mt-8">
    <div class="bg-white shadow-lg h-full rounded-3xl p-8">
      <h1 class="text-2xl font-bold">Key Logs</h1>
      <div class="alert alert-info shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>7:11 AM - Faculty Burrowed the key too Room 101</span>
        </div>
      </div>
      <div class="alert alert-info shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>7:10 AM - Faculty Burrowed the key too Room 102</span>
        </div>
      </div>
      <div class="alert alert-info shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>7:07 AM - Faculty Burrowed the key too Room 104</span>
        </div>
      </div>
      <div class="alert alert-warning shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
          <span>7:03 AM - Room 109 Missing</span>
        </div>
      </div>
      <div class="alert alert-info shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>7:02 AM - Faculty Burrowed the key too Room 107</span>
        </div>
      </div>
      <div class="alert alert-info shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>7:01 AM - Faculty Burrowed the key too Room 114</span>
        </div>
      </div>
      <div class="alert alert-info shadow-lg mt-4">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>7:00 AM - Faculty Burrowed the key too Room 112</span>
        </div>
      </div>
    </div>
    <div class="bg-white shadow-lg h-full rounded-3xl p-8">
      <h1 class="text-2xl font-bold">Key Inventory</h1>
      <div class="grid gap-4 grid-cols-5 h-fit mt-8 text-center">
        <div class="h-28 bg-info rounded-lg shadow-xl" *ngFor="let room of rooms">{{room}}</div>
      </div>
    </div>
  </div>
</div>
